// Tailwind CSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Custom CSS
@import "typography";
@import "fonts";
@import "components/__components";


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
