$small-screen-start: 0px;
$small-screen-end: 650px;
$medium-screen-start: 650px;
$medium-screen-end: 1200px;
$large-screen-start: 1200px;
$large-screen-end: 6000px;

@mixin respond-to($size) {
  @if $size == small {
    @media (min-width: $small-screen-start) and (max-width: $small-screen-end) {
      @content;
    }
  } @else if $size == medium {
    @media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
      @content;
    }
  } @else if $size == large {
    @media (min-width: $large-screen-start) and (max-width: $large-screen-end) {
      @content;
    }
  }
}

.main-container {
  background-color: #0b0825;

  @include respond-to(small) {
    height: 2500px;
    width: auto;
  }

  @include respond-to(medium) {
    height: 3000px;
    width: auto;
  }

  @include respond-to(large) {
    height: 5300px;
    width: auto;
  }
}

.top-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 5300px;
  width: 100%;
  margin: 0;

  @include respond-to(small) {
    height: 1100px;
  }

  @include respond-to(medium) {
    height: 1100px;
  }

  @include respond-to(large) {
    height: 1800px;
  }
}

.connect-wallet {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  position: absolute;
  background: #4647c5;
  font-family: "Noto-Sans";
  font-style: normal;
  line-height: 22px;
  color: #ffffff;
  flex: none;
  flex-grow: 0;
  text-align: center;

  @include respond-to(small) {
    font-weight: 700;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    right: 10px;
    top: 10px;
  }

  @include respond-to(medium) {
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    right: 15px;
    top: 22px;
  }

  @include respond-to(large) {
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    width: 220px;
    height: 75px;
    right: 15px;
    margin-top: 30px;
  }
}

.connect-wallet:active {
  box-shadow: 0 1px #0056b3;
  transform: translateY(3px);
}

.pink-creature {
  position: absolute;
  top: auto;
  left: 0;

  @include respond-to(small) {
    width: 300px;
    top: 42px;
  }

  @include respond-to(medium) {
    width: 600px;
    top: 20px;
  }

  @include respond-to(large) {
    width: 1298px;
    height: 1148px;
    left: 0px;
  }
}

.main-heading-container {
  position: absolute;

  @include respond-to(small) {
    width: 195px;
    height: 107px;
    right: 8%;
    top: 10%;
  }

  @include respond-to(medium) {
    width: 320px;
    height: 150px;
    right: 220px;
    top: 10%;
  }

  @include respond-to(large) {
    width: 30%;
    height: 15%;
    top: 7%;
    right: 22%;
  }
}

.main-heading {
  position: absolute;
  font-family: "Futurina", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 107px;
  color: #ffffff;

  @include respond-to(small) {
    font-family: "Futurina", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 28px;
    line-height: 25px;
    color: #ffffff;
  }

  @include respond-to(medium) {
    font-family: "Futurina", sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 65px;
    line-height: 55px;
    color: #ffffff;
  }

  @include respond-to(large) {
    font-family: "Futurina", sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 120px;
    line-height: 120px;
    color: #ffffff;
  }
}

.top-image {
  position: absolute;
  z-index: 0;

  @include respond-to(small) {
    width: 100%; // Full width on small screens
    height: 650px;
  }

  @include respond-to(medium) {
    width: 100%;
    height: 850px;
  }

  @include respond-to(large) {
    width: 100%; // 50% width on large screens
    height: 1900px;
  }
}

.top-text-box {
  z-index: 1;
  @include respond-to(small) {
    width: 320px;
    height: 124px;
    margin-top: 380px;
  }

  @include respond-to(medium) {
    width: 550px;
    height: 320px;
    margin-top: 750px;
  }

  @include respond-to(large) {
    width: 50%;
    height: 124px;
    left: 25%;
    margin-top: 1200px;
  }
}

.top-text-heading {
  @include respond-to(small) {
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }

  @include respond-to(medium) {
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }

  @include respond-to(large) {
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
  }
}

.top-text-description {
  @include respond-to(small) {
    left: calc(50% - 766px / 2);
    top: 1443px;
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  @include respond-to(medium) {
    left: calc(50% - 766px / 2);
    top: 1443px;
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  @include respond-to(large) {
    left: calc(50% - 766px / 2);
    top: 1443px;
    font-family: "Krona-One";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
}

.middle-container {
  position: relative;
  @include respond-to(small) {
    height: 300px;
  }

  @include respond-to(medium) {
    height: 400px;
  }

  @include respond-to(large) {
    height: 1000px;
  }
}

.avatar-example-image-container {
  z-index: 1;

  @include respond-to(small) {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  @include respond-to(medium) {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }

  @include respond-to(large) {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 40px;
  }
}

.avatar-image {
  @include respond-to(small) {
    width: 250px;
    height: 250px;
  }

  @include respond-to(medium) {
    width: 230px;
    height: 230px;
  }

  @include respond-to(large) {
    width: 300px;
    height: 300px;
  }
}

.blue-creature {
  @include respond-to(small) {
    position: absolute;
    width: 250px;
    height: 380px;
    left: 34%;
    top: 77px;
  }

  @include respond-to(medium) {
    position: absolute;
    width: 450px;
    height: 680px;
    right: 30px;
    top: 150px;
  }

  @include respond-to(large) {
    position: absolute;
    width: 55%;
    height: 55%;
    right: 8%;
    top: 22%;
  }
}

.blue-creature-text-box {
  position: absolute;
  z-index: 1;
  @include respond-to(small) {
    width: 180px;
    height: auto;
    left: 18px;
    top: 780px;
  }

  @include respond-to(medium) {
    width: 400px;
    height: auto;
    left: 20px;
    top: 850px;
  }

  @include respond-to(large) {
    width: 575px;
    height: auto;
    left: 5%;
    top: 145%;
  }
}

.blue-creature-text-box-heading {
  font-family: "Krona-One";
  font-style: normal;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  @include respond-to(large) {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }
}

.blue-creature-description-text-box {
  font-family: "Poppins";
  font-style: normal;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 200;
    font-size: 6px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 200;
    font-size: 13px;
    line-height: 28px;
  }

  @include respond-to(large) {
    font-weight: 220;
    font-size: 18px;
    line-height: 28px;
  }
}

.middle-image-container {
  @include respond-to(small) {
    position: absolute;
    top: 580px;
    height: 800px;
    width: 100%;
  }

  @include respond-to(medium) {
    position: absolute;
    top: 580px;
    height: 1000px;
    width: 100%;
  }

  @include respond-to(large) {
    position: absolute;
    height: 2300px;
    width: 100%;
    top: 55%;
  }
}

.middle-image {
  @include respond-to(small) {
    z-index: 0;
    width: 100%;
  }

  @include respond-to(medium) {
    z-index: 0;
    width: 100%;
    height: 1200px;
  }

  @include respond-to(large) {
    z-index: 0;
    width: 100%;
    height: 2300px;
  }
}

.lower-mid-text-box {
  z-index: 1;
  position: relative;
  width: 100%;

  @include respond-to(small) {
    height: 124px;
    margin-top: 200px;
  }

  @include respond-to(medium) {
  }

  @include respond-to(large) {
    height: 124px;
    margin-top: 250px;
  }
}

.lower-mid-heading {
  font-family: "Krona-One";
  font-style: normal;
  color: #ffffff;

  @include respond-to(small) {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
  }

  @include respond-to(medium) {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  @include respond-to(large) {
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}

.mid-mid-description {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }

  @include respond-to(large) {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
}

.mid-lower-description {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
  }

  @include respond-to(medium) {
  }

  @include respond-to(large) {
  }
}

.bottom-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  z-index: 1;
  @include respond-to(small) {
    height: 500px;
    top: 300px;
  }

  @include respond-to(medium) {
    height: 800px;
    top: 300px;
  }

  @include respond-to(large) {
    top: 25%;
    height: 1000px;
  }
}

.join-community-text-box {
  position: relative;
  @include respond-to(small) {
    margin-top: 400px;
    font-weight: 200;
    font-size: 6px;
    line-height: 10px;
    width: 300px;
  }

  @include respond-to(medium) {
    margin-top: 700px;
    font-weight: 200;
    line-height: 10px;
    width: 600px;
  }

  @include respond-to(large) {
    margin-top: 12%;
    font-weight: 200;
    line-height: 25px;
    width: 46%;
  }
}
.join-community-heading {
  z-index: 10;
  font-family: "Krona-One";
  font-style: normal;
  text-align: center;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 200;
    font-size: 12px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 200;
    font-size: 18px;
    line-height: 10px;
  }

  @include respond-to(large) {
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
  }
}
.join-community-description {
  z-index: 10;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 200;
    font-size: 6px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
  }

  @include respond-to(large) {
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
  }
}

.footer-text-box {
  position: absolute;
  text-align: center;
  @include respond-to(small) {
    width: 320px;
    height: 60px;
    width: 300px;
    margin-top: 550px;
  }

  @include respond-to(medium) {
    width: 640px;
    height: 60px;
    margin-top: 950px;
  }

  @include respond-to(large) {
    width: 850px;
    height: 60px;
    margin-top: 800px;
  }
}

.footer-text {
  font-family: "Krona-One";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: #ffffff;
  @include respond-to(small) {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
  }

  @include respond-to(medium) {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  @include respond-to(large) {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

.socials-icon-box {
  position: absolute;
  z-index: 1;
  @include respond-to(small) {
    line-height: 10px;
    margin-top: 680px;
  }

  @include respond-to(medium) {
    margin-top: 1050px;
  }

  @include respond-to(large) {
    margin-top: 1000px;
  }
}

.socials-image:active {
  box-shadow: 0 1px #0056b3;
  transform: translateY(3px);
}
