<div class="main-container">

  <div class="top-container">
    <div type="button" class="connect-wallet">Connect Wallet</div>
    <div type="button" class="btn btn-primary z-10">
      Test Button
    </div>
    <img src="../assets/images/Frame 8 (2).png"
         alt="Cosmic Creatures Top Image"
         class="top-image">
    <img src="../assets/images/pink-creature.png"
         alt="Cosmic Creatures Pink Creature" class="pink-creature">

    <div class="main-heading-container">
      <h1 class="main-heading">Cosmic Creatures</h1>
    </div>

    <div class="top-text-box">
      <h2 class="top-text-heading">Guardians of </h2>
      <h2 class="top-text-heading"> the Galactic Tapestry</h2>
      <h3 class="top-text-description">Embark on an otherworldly journey
        with Cosmic Creatures, the original architects of the universe
        and
        guardians of galaxies.</h3>

      <h3 class="top-text-description"> Each NFT in this creative project
        is a testament to ancient
        cosmic
        artistry, inviting you to become a custodian of the grand
        narrative.</h3>
      <h3 class="top-text-description">
        Secure your link to the cosmic grid, own a piece of creative
        genesis, and join a community of cosmic explorers. Explore the
        cosmos, ignite your creativity, and embrace the timeless allure
        of
        the Cosmic Creatures NFT project.</h3>
    </div>

  </div>

  <div class="middle-container">
    <div class="avatar-example-image-container">
      <img class="avatar-image" src="../assets/images/Frame 4.png" alt>
      <img class="avatar-image" src="../assets/images/Frame 5.png" alt>
      <img class="avatar-image" src="../assets/images/Frame 6.png" alt>
    </div>

    <div class=join-discord-btn-container>
      <div type="button"
           class="join-discord">Join Discord
      </div>
    </div>
    <div class="lower-mid-text-box">
      <h1 class="lower-mid-heading">Limited Edition Stardust, Infinite
        Journeys</h1>
      <h3 class="mid-mid-description">Seize the opportunity to capture a
        fragment of eternity.

      </h3>
      <h3 class="mid-lower-description">The Cosmic Creatures Collection
        awaits, where the dance of stars
        becomes a timeless journey.</h3>
    </div>

    <div class="blue-creature-text-box">
      <h1 class="blue-creature-text-box-heading">Embodied Stardust:
        A Timeless Elegance
      </h1>
      <h3 class="blue-creature-description-text-box">Stellar Origins:
        Fashioned from the raw materials of the cosmos,
        each Cosmic Creature is a testament to the beauty of celestial
        birth.</h3>
      <h3 class="blue-creature-description-text-box">Timeless Drift: As
        entities beyond time, these ethereal beings
        gracefully navigate the cosmic currents, their existence an
        ever-flowing melody.</h3>
      <h3 class="blue-creature-description-text-box">Etheric Stories: Own
        a
        piece of the universe's narrative, as each
        Creature carries with it a tale woven into the fabric of
        galaxies.</h3>
    </div>
    <div class="middle-image-container">
      <img class="blue-creature"
           src="../assets/images/blue-creature.png"
           alt="Blue Creature">
      <img src="../assets/images/middle-background-img.png"
           alt="Cosmic Creatures Middle Image" class="middle-image">
    </div>

  </div>

  <div class="bottom-container">
    <div class="join-community-text-box">
      <h1 class="join-community-heading">Join the Community</h1>
      <h3 class="join-community-description">Celestial Exploration:
        Immerse
        yourself in the Cosmic Creatures Collection, where the stories
        of
        the stars come to life.</h3>
      <h3 class="join-community-description">Connect with the Cosmos: Link
        your wallet to the cosmic grid and embrace the ethereal
        connection
        to the original essence of time.</h3>
      <h3 class="join-community-description">Harvest Stardust: Choose your
        Cosmic Creature and become a custodian of the celestial
        heritage, a
        keeper of stories untold.</h3>
    </div>

    <div class="footer-text-box">
      <h2 class="footer-text">From stardust to eternity. Explore the
        cosmos.
        Join the timeless journey of the Cosmic Creatures
        Collection.</h2>
    </div>

    <div class="socials-icon-box">
      <img class="socials-image" src="../assets/images/discord-icon.png"
           alt="Twitter Icon">
      <img class="socials-image" src="../assets/images/instagram-icon.png"
           alt="Discord Icon">
      <img class="socials-image" src="../assets/images/x-icon.png"
           alt="Instagram Icon">
    </div>
  </div>

</div>
